# Importing packages

In [1]:
import pandas as pd 
import numpy as np
import datetime

# Setting the option to display the dataframe 
pd.options.display.max_columns = None
pd.options.display.max_rows = 150

# Features in the analysis

The main features that will be used in the modeling of credit risk are: 

* **earliest_cr_line** - The month the borrower's earliest reported credit line was opened.

* **emp_length** - Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. 

* **term** - number of payments on the loan. Values can be either 36 or 60. 

* **issue_d** - the month which the loan was funded (issued)

* **grade** - loan companies assigned loan grade.

* **sub_grade** - loan companies assigned loan subgrade.

* **home_ownership** - The home ownership status provided by the borrower during registration or obtained from the credit report. The values are: RENT, OWN, MORTGAGE, OTHER.

* **verification_status** - Indicates if income was verified by LC, not verified, or if the income source was verified.

* **purpose** - the purpose of the loan; a category provided by the borrower for the loan request.

* **addr_state** - the state provided by the borrower in the loan application.

* **initial_list_status** - the initial listing status of the loan. Possible values are – W, F.

* **loan_amnt** - the amount of $ applied by the borrower.

* **funded_amnt** - the amount of requested loan that was funded in $.

* **annual_inc** - the self-reported annual income by the borrower.

* **acc_now_delinq** - the amount of accounts which the borrower is a delinquet.

* **total_acc** - The total number of credit lines currently in the borrower's credit file.

* **pub_rec** - Number of derogatory public records.

* **open_acc** - The number of open credit lines in the borrower's credit file.

The feature that we will use for the creation of the $Y$ (also known as the dependant variable) is the loan_status variable. 

* **loan_status** - current status of the loan (as of creation of the data).

In [2]:
columns = [
    'earliest_cr_line',
    'emp_length',
    'term',
    'issue_d',
    'grade',
    'sub_grade',
    'home_ownership',
    'verification_status',
    'loan_status',
    'purpose',
    'addr_state',
    'initial_list_status',
    'loan_amnt',
    'funded_amnt',
    'annual_inc',
    'acc_now_delinq',
    'total_acc',
    'pub_rec',
    'open_acc'
]

# Reading the data

In [3]:
# Reading the data
d = pd.read_csv(
    'data/appl_accepted_20072019Q3.csv', 
    low_memory=False,
    usecols=columns
)

In [4]:
print(f'Shape of the data: {d.shape}')

Shape of the data: (2650550, 19)

In [5]:
# Eyeballing the data
d.head()

,loan_amnt,funded_amnt,term,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,addr_state,earliest_cr_line,open_acc,pub_rec,total_acc,initial_list_status,acc_now_delinq
0,3600.0,3600.0,36 months,C,C4,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,debt_consolidation,PA,Aug-2003,7.0,0.0,13.0,w,0.0
1,24700.0,24700.0,36 months,C,C1,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,small_business,SD,Dec-1999,22.0,0.0,38.0,w,0.0
2,20000.0,20000.0,60 months,B,B4,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,home_improvement,IL,Aug-2000,6.0,0.0,18.0,w,0.0
3,35000.0,35000.0,60 months,C,C5,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,debt_consolidation,NJ,Sep-2008,13.0,0.0,17.0,w,0.0
4,10400.0,10400.0,60 months,F,F1,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,major_purchase,PA,Jun-1998,12.0,0.0,35.0,w,0.0

In [6]:
# Seeing the types of the columns to make sure numerics are numeris, 
# categorical variables are categorical, etc.
d.dtypes

loan_amnt              float64
funded_amnt            float64
term                    object
grade                   object
sub_grade               object
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
issue_d                 object
loan_status             object
purpose                 object
addr_state              object
earliest_cr_line        object
open_acc               float64
pub_rec                float64
total_acc              float64
initial_list_status     object
acc_now_delinq         float64
dtype: object

# Filling missing data

In [7]:
# Getting the number of rows missing
d.isnull().sum()

loan_amnt                  33
funded_amnt                33
term                       33
grade                      33
sub_grade                  33
emp_length             181960
home_ownership             33
annual_inc                 37
verification_status        33
issue_d                    33
loan_status                33
purpose                    33
addr_state                 33
earliest_cr_line           62
open_acc                   62
pub_rec                    62
total_acc                  62
initial_list_status        33
acc_now_delinq             62
dtype: int64

According to the documentation in the data, if the emp_length is missing, it means that there is no employment info. The suggested procedure is to treat this value the same as "< 1 year" value.

In [8]:
d['emp_length'] = d['emp_length'].fillna('< 1 year')

All the other missing rows will be dropped. The amount of rows dropped is very minimal when compared to the total number of rows.

In [9]:
d.dropna(inplace=True)
d.reset_index(inplace=True, drop=True)

print(f"Shape of data after dropping rows with missing values: {d.shape}")

Shape of data after dropping rows with missing values: (2650488, 19)

# General data preprocesing

## Categories to numerics

The **term** and **emp_length** features are stored as categorical. We need to convert them first to numeric.

In [10]:
d['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [11]:
d['emp_length'].unique()

array(['10+ years', '3 years', '4 years', '6 years', '1 year', '7 years',
       '8 years', '5 years', '2 years', '9 years', '< 1 year'],
      dtype=object)

In [12]:
# Cleaning employment length 
d['emp_length_int'] = d['emp_length'].str.replace('\+ years| years| year', '')
d['emp_length_int'] = d['emp_length_int'].str.replace('< 1', str(0))

# Converting the column type to numeric 
d['emp_length_int'] = pd.to_numeric(d['emp_length_int'])

In [13]:
# Cleaning the term column
d['term_int'] = d['term'].str.replace(' months', '')
d['term_int'] = d['term_int'].str.replace(' ', '')

# Converting the column type to numeric 
d['term_int'] = pd.to_numeric(d['term_int'])

## Categories to dates

In [14]:
def convert_to_2digit(x: str) -> datetime.datetime:
    """
    A function to convert 4 digit last part of the date string to 2 digit
    """
    try:
        x = x.split('-')
        month_part = x[0]
        year_part = x[1][-2:]

        return datetime.datetime.strptime(f'{month_part}-{year_part}', '%b-%y')
    except:
        return np.nan

In [15]:
# Inspecting the structure of dates

# Head
d['earliest_cr_line'].unique().tolist()[0:10]

['Aug-2003',
 'Dec-1999',
 'Aug-2000',
 'Sep-2008',
 'Jun-1998',
 'Oct-1987',
 'Jun-1990',
 'Feb-1999',
 'Apr-2002',
 'Nov-1994']

In [16]:
# Tail 
d['earliest_cr_line'].unique().tolist()[-10:]

['Feb-64',
 'Apr-61',
 'Jan-56',
 'Aug-62',
 'Sep-60',
 'Aug-59',
 'Jun-56',
 'Aug-50',
 'Jun-59',
 'Aug-61']

In [17]:
# Converting to 2 digit years
d['earliest_cr_line_date'] = [convert_to_2digit(x) for x in d['earliest_cr_line']]

# The exact same logic applies to the column issue_d
d['issue_d_date'] = [convert_to_2digit(x) for x in d['issue_d']]

In [18]:
# Calculating the dates between loan issue and first credit line issued 
d['issue_cr_diff'] = d['issue_d_date'] - d['earliest_cr_line_date']

In [19]:
d['issue_cr_diff'].describe()

count                         2650488
mean     5902 days 06:11:26.248268288
std      2965 days 08:25:30.837980128
min             -21915 days +00:00:00
25%                4109 days 00:00:00
50%                5388 days 00:00:00
75%                7366 days 00:00:00
max               18505 days 00:00:00
Name: issue_cr_diff, dtype: object

In [20]:
print(f"Very old credit lines make of {round(d[d['issue_cr_diff'].dt.days<0].shape[0] * 100 / d.shape[0], 2)} % of the data")

Very old credit lines make of 0.21 % of the data

For now, we will drop the very old users. The droping of these rows will have very little influence to the final coefficients.

In [21]:
d = d[d['issue_cr_diff'].dt.days>0]

d.reset_index(inplace=True, drop=True)

By convention, in credit risk modeling, months are prefered vs days.

In [22]:
d['issue_cr_diff_mnth'] = [int(x) for x in d['issue_cr_diff'] / np.timedelta64(1, 'M')]

Let us imagine that the current date when we are calculating the risk is 2020-01-01.

In [23]:
cur_date = datetime.datetime(2020, 1, 1)

# Creating an additional column to see days past since the loan issue 
d['days_since_issue'] = cur_date - d['issue_d_date']
d['mnth_since_issue'] = [int(x) for x in d['days_since_issue'] / np.timedelta64(1, 'M')]

In [24]:
# Inspecting the results of engineering
d[[
    'earliest_cr_line', 
    'earliest_cr_line_date', 
    'issue_d', 
    'issue_d_date', 
    'issue_cr_diff',
    'issue_cr_diff_mnth',
    'mnth_since_issue'
]].sample(10)

,earliest_cr_line,earliest_cr_line_date,issue_d,issue_d_date,issue_cr_diff,issue_cr_diff_mnth,mnth_since_issue
214873,Feb-1975,1975-02-01,Jul-2015,2015-07-01,14760 days,484,54
2167471,Oct-1991,1991-10-01,Dec-2016,2016-12-01,9193 days,302,36
1195606,Jan-2001,2001-01-01,Sep-2014,2014-09-01,4991 days,163,64
1547283,Jun-2004,2004-06-01,May-2018,2018-05-01,5082 days,166,20
1060557,Apr-2008,2008-04-01,Feb-2016,2016-02-01,2862 days,94,46
1666056,Jun-1999,1999-06-01,Mar-2017,2017-03-01,6483 days,212,34
1600890,Aug-2006,2006-08-01,Apr-2018,2018-04-01,4261 days,139,21
1095651,Nov-2006,2006-11-01,Jan-2016,2016-01-01,3348 days,109,48
767281,Sep-2007,2007-09-01,Sep-2018,2018-09-01,4018 days,132,16
789753,Dec-2005,2005-12-01,Aug-2018,2018-08-01,4626 days,151,17

## Preprocesing the categorical variables

The aim of categorical variable preprocesing is to convert them into dummy variables.

In [25]:
categorical_vars = [
    'grade',
    'sub_grade',
    'home_ownership',
    'verification_status',
    'purpose',
    'addr_state',
    'initial_list_status'
]

dummylist = []

for categorical_var in categorical_vars:
    dummylist.append(pd.get_dummies(d[categorical_var], prefix=f'{categorical_var}'))
    
# Creating the dummy dataframe for the categorical variables
dummydf = pd.concat(dummylist, axis=1)

In [26]:
# Listing all the columns
dummydf.columns.values

array(['grade_A', 'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F',
       'grade_G', 'sub_grade_A1', 'sub_grade_A2', 'sub_grade_A3',
       'sub_grade_A4', 'sub_grade_A5', 'sub_grade_B1', 'sub_grade_B2',
       'sub_grade_B3', 'sub_grade_B4', 'sub_grade_B5', 'sub_grade_C1',
       'sub_grade_C2', 'sub_grade_C3', 'sub_grade_C4', 'sub_grade_C5',
       'sub_grade_D1', 'sub_grade_D2', 'sub_grade_D3', 'sub_grade_D4',
       'sub_grade_D5', 'sub_grade_E1', 'sub_grade_E2', 'sub_grade_E3',
       'sub_grade_E4', 'sub_grade_E5', 'sub_grade_F1', 'sub_grade_F2',
       'sub_grade_F3', 'sub_grade_F4', 'sub_grade_F5', 'sub_grade_G1',
       'sub_grade_G2', 'sub_grade_G3', 'sub_grade_G4', 'sub_grade_G5',
       'home_ownership_ANY', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER',
       'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Not Verified',
       'verification_status_Source Verified',
       'verification_status_Verified', 'purpose_car',
       'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy',
       'purpose_small_business', 'purpose_vacation', 'purpose_wedding',
       'addr_state_AK', 'addr_state_AL', 'addr_state_AR', 'addr_state_AZ',
       'addr_state_CA', 'addr_state_CO', 'addr_state_CT', 'addr_state_DC',
       'addr_state_DE', 'addr_state_FL', 'addr_state_GA', 'addr_state_HI',
       'addr_state_IA', 'addr_state_ID', 'addr_state_IL', 'addr_state_IN',
       'addr_state_KS', 'addr_state_KY', 'addr_state_LA', 'addr_state_MA',
       'addr_state_MD', 'addr_state_ME', 'addr_state_MI', 'addr_state_MN',
       'addr_state_MO', 'addr_state_MS', 'addr_state_MT', 'addr_state_NC',
       'addr_state_ND', 'addr_state_NE', 'addr_state_NH', 'addr_state_NJ',
       'addr_state_NM', 'addr_state_NV', 'addr_state_NY', 'addr_state_OH',
       'addr_state_OK', 'addr_state_OR', 'addr_state_PA', 'addr_state_RI',
       'addr_state_SC', 'addr_state_SD', 'addr_state_TN', 'addr_state_TX',
       'addr_state_UT', 'addr_state_VA', 'addr_state_VT', 'addr_state_WA',
       'addr_state_WI', 'addr_state_WV', 'addr_state_WY',
       'initial_list_status_f', 'initial_list_status_w'], dtype=object)

In [27]:
# Getting the numeric feature list 
numeric_features = [
    'loan_amnt',
    'funded_amnt',
    'term',
    'emp_length',
    'annual_inc',
    'mnth_since_issue',
    'term_int',
    # Adding load_status for Y creation
    'loan_status'
]

In [28]:
# Creating the dataframe with numeric and dummy variables 
d = pd.concat([d, dummydf], axis=1)

# Probability of default (PD) modeling

The main objective in PD modeling is to create a model to infer a probability for a default given a set of features $X$.

It is established by various auditing firms that the interpretation of the model needs to be easy even for not statistical savy people. One highly interpretable machine learning model is logistic regression. 

Another agreed upon part of PD modeling is that the $X$ matrix needs to be comprised of dummy variable data. Thus, even continues numeric variables need to be converted to categorical features. Additionally, when creating the $Y$ variable, positive coefficients in logistic regression need to lead to a "positive" class, meaning, the higher a given value, the less chance of default.

# Creation of the dependant variable

One of the widespread default definition is that if a person is not able to pay their obligations in 90 days, it is considered default. In the PD modeling space, the Y encoding to non defaul and default is often termed "good bad" encoding.

In [29]:
d['loan_status'].value_counts() / d['loan_status'].count()

Current                                                0.459636
Fully Paid                                             0.419460
Charged Off                                            0.103261
Late (31-120 days)                                     0.010211
In Grace Period                                        0.004294
Late (16-30 days)                                      0.002094
Does not meet the credit policy. Status:Fully Paid     0.000740
Does not meet the credit policy. Status:Charged Off    0.000286
Default                                                0.000017
Name: loan_status, dtype: float64

In [30]:
# Creating the Y (good_bad) variable for the probability of default analysis
d['good_bad'] = np.where(d['loan_status'].isin([
    'Charged Off', 
    'Default',
    'Late (31-120 days)',
    'Does not meet the credit policy. Status:Charged Off'
]), 0, 1)

In [31]:
# Distribution of classes
d['good_bad'].value_counts() / d['good_bad'].count()

1    0.886225
0    0.113775
Name: good_bad, dtype: float64

# Spliting the data into train, validation and test sets

The amount of data for training will be 80 percent of the whole dataset, validation (used for hyperparameter tuning) will be 10 percent and the test set (which we will measure some accuracy metrics) will be 10 percent.

In [32]:
train, val, test = np.split(d.sample(frac=1, random_state=42), [int(.8*len(d)), int(.9*len(d))])

In [33]:
print(f"Shape of training data: {train.shape}")
print(f"Shape of training data: {val.shape}")
print(f"Shape of training data: {test.shape}")

Shape of training data: (2115933, 146)
Shape of training data: (264492, 146)
Shape of training data: (264492, 146)

# Fine classing, weight of evidence and coarse classing

Fine classing is a technique that groups a variable's values into a number of fine bins. Using these bins, a measure of the variable's predictive power, known as information value (IV), can be computed. Also from these fine bins, further grouping can be carried out to result in coarse classing.

One of the fundamental concepts in information value is the weight of evidence concept. The weight of evidence tells the predictive power of an independent variable in relation to the dependent variable.

For a given feature $i$, the weight of evidence, or, $WoE_{i}$ is calculated by: 

$$ WoE_{i} = log\left(\dfrac{\% of y = 1 | x = i}{\% of y = 0 | x = i}\right)$$

Thus, the woe is calculated for each feature in our dataset.

## Caluclating the WoE for home ownership

Lets go step by step and calculate the WoE statistic for all the levels of the home ownership categorical value.

In [56]:
# Subseting the data
woe = d[['home_ownership', 'good_bad']]

# Lets calculate the number of borrowers for each status 
grouped = woe.groupby('home_ownership', as_index=False)['good_bad'].count()

In [57]:
# Inspecting the total number of people in each group 
grouped

  home_ownership  good_bad
0            ANY      3344
1       MORTGAGE   1301433
2           NONE        51
3          OTHER       181
4            OWN    297331
5           RENT   1042577

In [58]:
# Getting the total good borrowers in each group 
groupedgood = woe.groupby('home_ownership', as_index=False)['good_bad'].sum().rename(columns={'good_bad': 'good_borrowers'})

# Merging with the initial dataframe
grouped = pd.merge(grouped, groupedgood, on='home_ownership')

# Getting the number of bad borrowers
grouped['bad_borrowers'] = grouped['good_bad'] - grouped['good_borrowers']

# Calculating the share of good borrowers
grouped['share_good'] = grouped['good_borrowers'] / grouped['good_bad']

# Calculating the share of bad borrowers
grouped['share_bad'] = 1 - grouped['share_good']

# Seeing the results
grouped

,home_ownership,good_bad,good_borrowers,bad_borrowers,share_good,share_bad
0,ANY,3344,3166,178,0.946770,0.053230
1,MORTGAGE,1301433,1172969,128464,0.901290,0.098710
2,NONE,51,43,8,0.843137,0.156863
3,OTHER,181,143,38,0.790055,0.209945
4,OWN,297331,263485,33846,0.886167,0.113833
5,RENT,1042577,904185,138392,0.867260,0.132740

In [62]:
# Calculating the total proportion of good/bad borrowers in each group 
grouped['prop_n_good'] = grouped['good_borrowers'] / grouped['good_borrowers'].sum()
grouped['prop_n_bad'] = grouped['bad_borrowers'] / grouped['bad_borrowers'].sum()

grouped

,home_ownership,good_bad,good_borrowers,bad_borrowers,share_good,share_bad,prop_n_good,prop_n_bad
0,ANY,3344,3166,178,0.946770,0.053230,0.001351,0.000592
1,MORTGAGE,1301433,1172969,128464,0.901290,0.098710,0.500415,0.426896
2,NONE,51,43,8,0.843137,0.156863,0.000018,0.000027
3,OTHER,181,143,38,0.790055,0.209945,0.000061,0.000126
4,OWN,297331,263485,33846,0.886167,0.113833,0.112409,0.112473
5,RENT,1042577,904185,138392,0.867260,0.132740,0.385746,0.459887

In the above dataset we have everything we need to calculate the weight of evidence for each categorical variable level.

In [63]:
grouped['woe'] = np.log(grouped['prop_n_good'] / grouped['prop_n_bad'])

In [64]:
grouped

,home_ownership,good_bad,good_borrowers,bad_borrowers,share_good,share_bad,prop_n_good,prop_n_bad,woe
0,ANY,3344,3166,178,0.946770,0.053230,0.001351,0.000592,0.825695
1,MORTGAGE,1301433,1172969,128464,0.901290,0.098710,0.500415,0.426896,0.158899
2,NONE,51,43,8,0.843137,0.156863,0.000018,0.000027,-0.370987
3,OTHER,181,143,38,0.790055,0.209945,0.000061,0.000126,-0.727487
4,OWN,297331,263485,33846,0.886167,0.113833,0.112409,0.112473,-0.000570
5,RENT,1042577,904185,138392,0.867260,0.132740,0.385746,0.459887,-0.175802

In [69]:
# Lets calculate the IV for the overall variable home_ownership
IV = np.sum((grouped['prop_n_good'] - grouped['prop_n_bad']) * grouped['woe'])

print(f'The information value is :{IV}')

The information value is :0.025393800387701254

## Defining a function that calculates the woe and IV

In [80]:
def get_woe(d: pd.DataFrame, cat_var: str, good_bad_var: str):
    # Subseting the dataframe 
    d = d[[cat_var, good_bad_var]]
    
    # Calculating the number of borrowers for each status 
    grouped = d.groupby(cat_var, as_index=False)[good_bad_var].count().rename(columns={good_bad_var: "n"})
    
    groupedgood = d.groupby(cat_var, as_index=False)[good_bad_var].sum().rename(columns={good_bad_var: 'good_borrowers'})

    # Merging with the initial dataframe
    grouped = pd.merge(grouped, groupedgood, on=cat_var)

    # Getting the number of bad borrowers
    grouped['bad_borrowers'] = grouped['n'] - grouped['good_borrowers']

    # Calculating the share of good borrowers
    grouped['share_good'] = grouped['good_borrowers'] / grouped['n']

    # Calculating the share of bad borrowers
    grouped['share_bad'] = 1 - grouped['n']
    
    # Calculating the total proportion of good/bad borrowers in each group 
    grouped['prop_n_good'] = grouped['good_borrowers'] / grouped['good_borrowers'].sum()
    grouped['prop_n_bad'] = grouped['bad_borrowers'] / grouped['bad_borrowers'].sum()
    
    # Calculating the WoE statistic
    grouped['woe'] = np.log(grouped['prop_n_good'] / grouped['prop_n_bad'])
    
    # Sorting by woe
    grouped.sort_values('woe', inplace=True, ascending=False)
    grouped.reset_index(inplace=True, drop=True)
    
    # Calculating IV
    grouped['IV'] = np.sum((grouped['prop_n_good'] - grouped['prop_n_bad']) * grouped['woe'])
    
    # Returning the aggregated dataframe
    return grouped

In [81]:
# Printing out the frame for all the categorical variables
for var in categorical_vars:
    print('-----------')
    print(f'{var}:')
    print(get_woe(d, var, 'good_bad'))
    print('-----------')

-----------
grade:
  grade       n  good_borrowers  bad_borrowers  share_good  share_bad  \
0     A  557886          541095          16791    0.969902    -557885
1     B  775434          715839          59595    0.923146    -775433
2     C  740301          643741          96560    0.869567    -740300
3     D  378537          309355          69182    0.817238    -378536
4     E  138808          100074          38734    0.720953    -138807
5     F   41781           26577          15204    0.636103     -41780
6     G   12170            7310           4860    0.600657     -12169

   prop_n_good  prop_n_bad       woe       IV
0     0.230843    0.055798  1.420006  0.53152
1     0.305393    0.198039  0.433138  0.53152
2     0.274635    0.320876 -0.155614  0.53152
3     0.131978    0.229897 -0.554997  0.53152
4     0.042694    0.128716 -1.103554  0.53152
5     0.011338    0.050524 -1.494258  0.53152
6     0.003119    0.016150 -1.644541  0.53152
-----------
-----------
sub_grade:
   sub_grade       n  good_borrowers  bad_borrowers  share_good  share_bad  \
0         A1  112064          110317           1747    0.984411    -112063
1         A2   88969           86888           2081    0.976610     -88968
2         A3   91171           88616           2555    0.971976     -91170
3         A4  133163          128866           4297    0.967731    -133162
4         A5  132519          126408           6111    0.953886    -132518
5         B1  147388          138929           8459    0.942607    -147387
6         B2  147885          138325           9560    0.935355    -147884
7         B3  148852          137035          11817    0.920612    -148851
8         B4  168464          154408          14056    0.916564    -168463
9         B5  162845          147142          15703    0.903571    -162844
10        C1  165991          147818          18173    0.890518    -165990
11        C2  149298          130867          18431    0.876549    -149297
12        C3  146963          127927          19036    0.870471    -146962
13        C4  142953          122075          20878    0.853952    -142952
14        C5  135096          115054          20042    0.851646    -135095
15        D2   94750           79366          15384    0.837636     -94749
16        D1   93870           77909          15961    0.829967     -93869
17        D3   74458           60749          13709    0.815883     -74457
18        D4   62294           49439          12855    0.793640     -62293
19        D5   53165           41892          11273    0.787962     -53164
20        E1   34767           25586           9181    0.735928     -34766
21        E2   30295           21785           8510    0.719096     -30294
22        E3   27190           19511           7679    0.717580     -27189
23        E5   23369           16764           6605    0.717361     -23368
24        E4   23187           16428           6759    0.708500     -23186
25        F1   13404            8976           4428    0.669651     -13403
26        F2    9305            5909           3396    0.635035      -9304
27        F3    7786            4902           2884    0.629592      -7785
28        G1    4107            2581           1526    0.628439      -4106
29        F5    5168            3113           2055    0.602361      -5167
30        F4    6118            3677           2441    0.601013      -6117
31        G2    2695            1598           1097    0.592950      -2694
32        G3    2090            1222            868    0.584689      -2089
33        G4    1711             998            713    0.583285      -1710
34        G5    1567             911            656    0.581366      -1566

    prop_n_good  prop_n_bad       woe        IV
0      0.047064    0.005805  2.092712  0.569733
1      0.037068    0.006915  1.679025  0.569733
2      0.037806    0.008490  1.493514  0.569733
3      0.054977    0.014279  1.348110  0.569733
4      0.053929    0.020307  0.976678  0.569733
5      0.059270    0.028110  0.745986  0.569733
6      0.059013    0.031769  0.619272  0.569733
7      0.058462    0.039269  0.397951  0.569733
8      0.065874    0.046709  0.343803  0.569733
9      0.062774    0.052182  0.184800  0.569733
10     0.063063    0.060390  0.043299  0.569733
11     0.055831    0.061248 -0.092598  0.569733
12     0.054577    0.063258 -0.147618  0.569733
13     0.052080    0.069379 -0.286806  0.569733
14     0.049085    0.066601 -0.305174  0.569733
15     0.033859    0.051122 -0.412004  0.569733
16     0.033238    0.053040 -0.467353  0.569733
17     0.025917    0.045556 -0.564048  0.569733
18     0.021092    0.042718 -0.705739  0.569733
19     0.017872    0.037461 -0.740062  0.569733
20     0.010916    0.030509 -1.027837  0.569733
21     0.009294    0.028279 -1.112766  0.569733
22     0.008324    0.025518 -1.120257  0.569733
23     0.007152    0.021949 -1.121339  0.569733
24     0.007009    0.022461 -1.164634  0.569733
25     0.003829    0.014715 -1.346140  0.569733
26     0.002521    0.011285 -1.498868  0.569733
27     0.002091    0.009584 -1.522281  0.569733
28     0.001101    0.005071 -1.527219  0.569733
29     0.001328    0.006829 -1.637435  0.569733
30     0.001569    0.008112 -1.643057  0.569733
31     0.000682    0.003645 -1.676572  0.569733
32     0.000521    0.002884 -1.710693  0.569733
33     0.000426    0.002369 -1.716474  0.569733
34     0.000389    0.002180 -1.724364  0.569733
-----------
-----------
home_ownership:
  home_ownership        n  good_borrowers  bad_borrowers  share_good  \
0            ANY     3344            3166            178    0.946770
1       MORTGAGE  1301433         1172969         128464    0.901290
2            OWN   297331          263485          33846    0.886167
3           RENT  1042577          904185         138392    0.867260
4           NONE       51              43              8    0.843137
5          OTHER      181             143             38    0.790055

   share_bad  prop_n_good  prop_n_bad       woe        IV
0      -3343     0.001351    0.000592  0.825695  0.025394
1   -1301432     0.500415    0.426896  0.158899  0.025394
2    -297330     0.112409    0.112473 -0.000570  0.025394
3   -1042576     0.385746    0.459887 -0.175802  0.025394
4        -50     0.000018    0.000027 -0.370987  0.025394
5       -180     0.000061    0.000126 -0.727487  0.025394
-----------
-----------
verification_status:
  verification_status        n  good_borrowers  bad_borrowers  share_good  \
0        Not Verified   918222          848296          69926    0.923846
1     Source Verified  1038338          915932         122406    0.882114
2            Verified   688357          579763         108594    0.842242

   share_bad  prop_n_good  prop_n_bad       woe        IV
0    -918221     0.361902    0.232369  0.443046  0.100915
1   -1038337     0.390757    0.406764 -0.040147  0.100915
2    -688356     0.247340    0.360866 -0.377743  0.100915
-----------
-----------
purpose:
               purpose        n  good_borrowers  bad_borrowers  share_good  \
0                  car    27520           25091           2429    0.911737
1          credit_card   619412          563225          56187    0.909290
2     home_improvement   174854          157207          17647    0.899076
3                house    17608           15718           1890    0.892662
4             vacation    18346           16369           1977    0.892238
5       major_purchase    57335           51053           6282    0.890433
6                other   161139          142435          18704    0.883926
7              medical    31804           27957           3847    0.879040
8   debt_consolidation  1487275         1303544         183731    0.876465
9              wedding     2355            2063            292    0.876008
10              moving    17543           15054           2489    0.858120
11    renewable_energy     1620            1380            240    0.851852
12      small_business    27682           22559           5123    0.814934
13         educational      424             336             88    0.792453

    share_bad  prop_n_good  prop_n_bad       woe        IV
0      -27519     0.010704    0.008072  0.282284  0.025519
1     -619411     0.240285    0.186714  0.252248  0.025519
2     -174853     0.067068    0.058642  0.134252  0.025519
3      -17607     0.006706    0.006281  0.065484  0.025519
4      -18345     0.006983    0.006570  0.061063  0.025519
5      -57334     0.021780    0.020876  0.042430  0.025519
6     -161138     0.060766    0.062155 -0.022598  0.025519
7      -31803     0.011927    0.012784 -0.069372  0.025519
8    -1487274     0.556122    0.610552 -0.093377  0.025519
9       -2354     0.000880    0.000970 -0.097583  0.025519
10     -17542     0.006422    0.008271 -0.252983  0.025519
11      -1619     0.000589    0.000798 -0.303546  0.025519
12     -27681     0.009624    0.017024 -0.570352  0.025519
13       -423     0.000143    0.000292 -0.712972  0.025519
-----------
-----------
addr_state:

   addr_state       n  good_borrowers  bad_borrowers  share_good  share_bad  \
0          ME    6321            5989            332    0.947477      -6320
1          ID    5671            5277            394    0.930524      -5670
2          VT    5842            5420            422    0.927764      -5841
3          WV   10594            9757            837    0.920993     -10593
4          NH   13137           12050           1087    0.917257     -13136
5          OR   31713           29057           2656    0.916249     -31712
6          DC    6141            5622            519    0.915486      -6140
7          ND    4418            4027            391    0.911498      -4417
8          SC   33054           30113           2941    0.911024     -33053
9          CO   56017           50920           5097    0.909010     -56016
10         WA   55275           50125           5150    0.906829     -55274
11         CT   42151           38204           3947    0.906360     -42150
12         KS   22286           20195           2091    0.906174     -22285
13         MT    7403            6690            713    0.903688      -7402
14         WY    5513            4975            538    0.902412      -5512
15         IL  106413           95967          10446    0.901835    -106412
16         RI   11793           10603           1190    0.899093     -11792
17         GA   87021           77977           9044    0.896071     -87020
18         WI   34941           31202           3739    0.892991     -34940
19         NE    9689            8631           1058    0.890804      -9688
20         UT   17615           15690           1925    0.890718     -17614
21         MA   60829           54161           6668    0.890381     -60828
22         DE    7596            6762            834    0.890205      -7595
23         OH   87721           77896           9825    0.887997     -87720
24         TX  219047          194431          24616    0.887622    -219046
25         AZ   63280           56126           7154    0.886947     -63279
26         MN   45870           40633           5237    0.885830     -45869
27         AK    6045            5349            696    0.884864      -6044
28         VA   73316           64868           8448    0.884773     -73315
29         KY   25621           22658           2963    0.884353     -25620
30         TN   42112           37241           4871    0.884332     -42111
31         MI   68398           60460           7938    0.883944     -68397
32         IN   44018           38872           5146    0.883093     -44017
33         NJ   96987           85623          11364    0.882830     -96986
34         CA  365994          322809          43185    0.882006    -365993
35         PA   89069           78542          10527    0.881811     -89068
36         MD   63065           55538           7527    0.880647     -63064
37         NC   73318           64549           8769    0.880398     -73317
38         MO   42202           37136           5066    0.879958     -42201
39         SD    5357            4705            652    0.878290      -5356
40         FL  190920          167571          23349    0.877703    -190919
41         NM   13976           12232           1744    0.875215     -13975
42         HI   12248           10712           1536    0.874592     -12247
43         NY  215868          188709          27159    0.874187    -215867
44         NV   38277           33329           4948    0.870732     -38276
45         OK   24206           21009           3197    0.867925     -24205
46         MS   15087           13090           1997    0.867634     -15086
47         LA   29811           25864           3947    0.867599     -29810
48         AR   20119           17413           2706    0.865500     -20118
49         AL   31538           27201           4337    0.862483     -31537
50         IA      14              11              3    0.785714        -13

    prop_n_good  prop_n_bad       woe       IV
0      0.002555    0.001103  0.839799  0.01501
1      0.002251    0.001309  0.542016  0.01501
2      0.002312    0.001402  0.500100  0.01501
3      0.004163    0.002781  0.403170  0.01501
4      0.005141    0.003612  0.352897  0.01501
5      0.012396    0.008826  0.339692  0.01501
6      0.002398    0.001725  0.329793  0.01501
7      0.001718    0.001299  0.279323  0.01501
8      0.012847    0.009773  0.273461  0.01501
9      0.021724    0.016938  0.248858  0.01501
10     0.021384    0.017114  0.222777  0.01501
11     0.016299    0.013116  0.217239  0.01501
12     0.008616    0.006949  0.215047  0.01501
13     0.002854    0.002369  0.186142  0.01501
14     0.002122    0.001788  0.171576  0.01501
15     0.040942    0.034713  0.165039  0.01501
16     0.004523    0.003954  0.134438  0.01501
17     0.033267    0.030054  0.101566  0.01501
18     0.013311    0.012425  0.068918  0.01501
19     0.003682    0.003516  0.046234  0.01501
20     0.006694    0.006397  0.045352  0.01501
21     0.023106    0.022158  0.041895  0.01501
22     0.002885    0.002771  0.040095  0.01501
23     0.033232    0.032649  0.017699  0.01501
24     0.082949    0.081801  0.013935  0.01501
25     0.023945    0.023773  0.007182  0.01501
26     0.017335    0.017403 -0.003914  0.01501
27     0.002282    0.002313 -0.013431  0.01501
28     0.027674    0.028073 -0.014321  0.01501
29     0.009666    0.009846 -0.018435  0.01501
30     0.015888    0.016187 -0.018635  0.01501
31     0.025794    0.026379 -0.022425  0.01501
32     0.016584    0.017101 -0.030691  0.01501
33     0.036529    0.037763 -0.033242  0.01501
34     0.137718    0.143507 -0.041178  0.01501
35     0.033508    0.034982 -0.043056  0.01501
36     0.023694    0.025013 -0.054175  0.01501
37     0.027538    0.029140 -0.056544  0.01501
38     0.015843    0.016835 -0.060711  0.01501
39     0.002007    0.002167 -0.076409  0.01501
40     0.071490    0.077591 -0.081893  0.01501
41     0.005218    0.005795 -0.104872  0.01501
42     0.004570    0.005104 -0.110563  0.01501
43     0.080508    0.090251 -0.114248  0.01501
44     0.014219    0.016443 -0.145301  0.01501
45     0.008963    0.010624 -0.170008  0.01501
46     0.005584    0.006636 -0.172543  0.01501
47     0.011034    0.013116 -0.172850  0.01501
48     0.007429    0.008992 -0.191000  0.01501
49     0.011605    0.014412 -0.216675  0.01501
50     0.000005    0.000010 -0.753463  0.01501
-----------
-----------
initial_list_status:
  initial_list_status        n  good_borrowers  bad_borrowers  share_good  \
0                   w  1883064         1698585         184479    0.902033
1                   f   761853          645406         116447    0.847153

   share_bad  prop_n_good  prop_n_bad       woe        IV
0   -1883063     0.724655    0.613038  0.167269  0.056654
1    -761852     0.275345    0.386962 -0.340303  0.056654
-----------

Based on the WoE statistic we need to figure out how to organize and lump together the original discrete features.