# Importing packages

In [1]:
import pandas as pd 
import numpy as np
import datetime

# Setting the option to display the dataframe 
pd.options.display.max_columns = None
pd.options.display.max_rows = 150

# Features in the analysis

The main features that will be used in the modeling of credit risk are: 

* **earliest_cr_line** - The month the borrower's earliest reported credit line was opened.

* **emp_length** - Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. 

* **term** - number of payments on the loan. Values can be either 36 or 60. 

* **issue_d** - the month which the loan was funded (issued)

* **grade** - loan companies assigned loan grade.

* **sub_grade** - loan companies assigned loan subgrade.

* **home_ownership** - The home ownership status provided by the borrower during registration or obtained from the credit report. The values are: RENT, OWN, MORTGAGE, OTHER.

* **verification_status** - Indicates if income was verified by LC, not verified, or if the income source was verified.

* **purpose** - the purpose of the loan; a category provided by the borrower for the loan request.

* **addr_state** - the state provided by the borrower in the loan application.

* **initial_list_status** - the initial listing status of the loan. Possible values are – W, F.

* **loan_amnt** - the amount of $ applied by the borrower.

* **funded_amnt** - the amount of requested loan that was funded in $.

* **annual_inc** - the self-reported annual income by the borrower.

* **acc_now_delinq** - the amount of accounts which the borrower is a delinquet.

* **total_acc** - The total number of credit lines currently in the borrower's credit file.

* **pub_rec** - Number of derogatory public records.

* **open_acc** - The number of open credit lines in the borrower's credit file.

The feature that we will use for the creation of the $Y$ (also known as the dependant variable) is the loan_status variable. 

* **loan_status** - current status of the loan (as of creation of the data).

In [4]:
columns = [
    'earliest_cr_line',
    'emp_length',
    'term',
    'issue_d',
    'grade',
    'sub_grade',
    'home_ownership',
    'verification_status',
    'loan_status',
    'purpose',
    'addr_state',
    'initial_list_status',
    'loan_amnt',
    'funded_amnt',
    'annual_inc',
    'acc_now_delinq',
    'total_acc',
    'pub_rec',
    'open_acc'
]

# Reading the data

In [5]:
# Reading the data
d = pd.read_csv(
    'data/Loan_status_2007-2020Q3.gzip', 
    low_memory=False,
    usecols=columns
)

In [6]:
print(f'Shape of the data: {d.shape}')

Shape of the data: (2925493, 19)

In [7]:
# Eyeballing the data
d.head()

,loan_amnt,funded_amnt,term,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,addr_state,earliest_cr_line,open_acc,pub_rec,total_acc,initial_list_status,acc_now_delinq
0,5000.0,5000.0,36 months,B,B2,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,credit_card,AZ,Jan-1985,3.0,0.0,9.0,f,0.0
1,2500.0,2500.0,60 months,C,C4,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,car,GA,Apr-1999,3.0,0.0,4.0,f,0.0
2,2400.0,2400.0,36 months,C,C5,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,small_business,IL,Nov-2001,2.0,0.0,10.0,f,0.0
3,10000.0,10000.0,36 months,C,C1,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,other,CA,Feb-1996,10.0,0.0,37.0,f,0.0
4,3000.0,3000.0,60 months,B,B5,1 year,RENT,80000.0,Source Verified,Dec-2011,Fully Paid,other,OR,Jan-1996,15.0,0.0,38.0,f,0.0

In [8]:
# Seeing the types of the columns to make sure numerics are numeris, 
# categorical variables are categorical, etc.
d.dtypes

loan_amnt              float64
funded_amnt            float64
term                    object
grade                   object
sub_grade               object
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
issue_d                 object
loan_status             object
purpose                 object
addr_state              object
earliest_cr_line        object
open_acc               float64
pub_rec                float64
total_acc              float64
initial_list_status     object
acc_now_delinq         float64
dtype: object

# Filling missing data

In [9]:
# Getting the number of rows missing
d.isnull().sum()

loan_amnt                   1
funded_amnt                 1
term                        1
grade                       1
sub_grade                   1
emp_length             205221
home_ownership              1
annual_inc                  5
verification_status         1
issue_d                     1
loan_status                 1
purpose                     1
addr_state                  1
earliest_cr_line           30
open_acc                   30
pub_rec                    30
total_acc                  30
initial_list_status         1
acc_now_delinq             30
dtype: int64

According to the documentation in the data, if the emp_length is missing, it means that there is no employment info. The suggested procedure is to treat this value the same as "< 1 year" value.

In [10]:
d['emp_length'] = d['emp_length'].fillna('< 1 year')

All the other missing rows will be dropped. The amount of rows dropped is very minimal when compared to the total number of rows.

In [11]:
d.dropna(inplace=True)
d.reset_index(inplace=True, drop=True)

print(f"Shape of data after dropping rows with missing values: {d.shape}")

Shape of data after dropping rows with missing values: (2925463, 19)

# General data preprocesing

## Categories to numerics

The **term** and **emp_length** features are stored as categorical. We need to convert them first to numeric.

In [12]:
d['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [13]:
d['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years'],
      dtype=object)

In [14]:
# Cleaning employment length 
d['emp_length_int'] = d['emp_length'].str.replace('\+ years| years| year', '')
d['emp_length_int'] = d['emp_length_int'].str.replace('< 1', str(0))

# Converting the column type to numeric 
d['emp_length_int'] = pd.to_numeric(d['emp_length_int'])

In [15]:
# Cleaning the term column
d['term_int'] = d['term'].str.replace(' months', '')
d['term_int'] = d['term_int'].str.replace(' ', '')

# Converting the column type to numeric 
d['term_int'] = pd.to_numeric(d['term_int'])

## Categories to dates

In [16]:
def convert_to_2digit(x: str) -> datetime.datetime:
    """
    A function to convert 4 digit last part of the date string to 2 digit
    """
    try:
        x = x.split('-')
        month_part = x[0]
        year_part = x[1][-2:]

        return datetime.datetime.strptime(f'{month_part}-{year_part}', '%b-%y')
    except:
        return np.nan

In [17]:
# Inspecting the structure of dates

# Head
d['earliest_cr_line'].unique().tolist()[0:10]

['Jan-1985',
 'Apr-1999',
 'Nov-2001',
 'Feb-1996',
 'Jan-1996',
 'Nov-2004',
 'Jul-2005',
 'Jan-2007',
 'Apr-2004',
 'Sep-2004']

In [18]:
# Tail 
d['earliest_cr_line'].unique().tolist()[-10:]

['Apr-1958',
 'Feb-1945',
 'Mar-1957',
 'Jul-1952',
 'Mar-1933',
 'Aug-1941',
 'Dec-1946',
 'Sep-1951',
 'Feb-1934',
 'Aug-1957']

In [19]:
# Converting to 2 digit years
d['earliest_cr_line_date'] = [convert_to_2digit(x) for x in d['earliest_cr_line']]

# The exact same logic applies to the column issue_d
d['issue_d_date'] = [convert_to_2digit(x) for x in d['issue_d']]

In [20]:
# Calculating the dates between loan issue and first credit line issued 
d['issue_cr_diff'] = d['issue_d_date'] - d['earliest_cr_line_date']

In [21]:
d['issue_cr_diff'].describe()

count                         2925463
mean     5899 days 20:21:30.542796032
std      2962 days 00:57:29.220568992
min             -21915 days +00:00:00
25%                4109 days 00:00:00
50%                5388 days 00:00:00
75%                7366 days 00:00:00
max               18840 days 00:00:00
Name: issue_cr_diff, dtype: object

In [22]:
print(f"Very old credit lines make of {round(d[d['issue_cr_diff'].dt.days<0].shape[0] * 100 / d.shape[0], 2)} % of the data")

Very old credit lines make of 0.2 % of the data

For now, we will drop the very old users. The droping of these rows will have very little influence to the final coefficients.

In [23]:
d = d[d['issue_cr_diff'].dt.days>0]

d.reset_index(inplace=True, drop=True)

By convention, in credit risk modeling, months are prefered vs days.

In [24]:
d['issue_cr_diff_mnth'] = [int(x) for x in d['issue_cr_diff'] / np.timedelta64(1, 'M')]

Let us imagine that the current date when we are calculating the risk is 2020-01-01.

In [25]:
cur_date = datetime.datetime(2020, 1, 1)

# Creating an additional column to see days past since the loan issue 
d['days_since_issue'] = cur_date - d['issue_d_date']
d['mnth_since_issue'] = [int(x) for x in d['days_since_issue'] / np.timedelta64(1, 'M')]

In [26]:
# Inspecting the results of engineering
d[[
    'earliest_cr_line', 
    'earliest_cr_line_date', 
    'issue_d', 
    'issue_d_date', 
    'issue_cr_diff',
    'issue_cr_diff_mnth',
    'mnth_since_issue'
]].sample(10)

,earliest_cr_line,earliest_cr_line_date,issue_d,issue_d_date,issue_cr_diff,issue_cr_diff_mnth,mnth_since_issue
2719167,Jan-1994,1994-01-01,Mar-2017,2017-03-01,8460 days,277,34
489050,Jun-2000,2000-06-01,Mar-2018,2018-03-01,6482 days,212,22
34477,Jun-1983,1983-06-01,Oct-2009,2009-10-01,9619 days,316,123
2902799,Oct-1988,1988-10-01,Apr-2017,2017-04-01,10409 days,341,33
2437949,Mar-2001,2001-03-01,Jun-2016,2016-06-01,5571 days,183,43
2551333,Jun-1988,1988-06-01,Aug-2016,2016-08-01,10288 days,338,41
1650442,Nov-2001,2001-11-01,May-2014,2014-05-01,4564 days,149,68
33687,Jun-1997,1997-06-01,Dec-2009,2009-12-01,4566 days,150,121
2754620,Oct-1993,1993-10-01,Feb-2017,2017-02-01,8524 days,280,34
942663,Sep-2013,2013-09-01,Oct-2018,2018-10-01,1856 days,60,15

## Preprocesing the categorical variables

The aim of categorical variable preprocesing is to convert them into dummy variables.

In [45]:
categorical_vars = [
    'grade',
    'sub_grade',
    'home_ownership',
    'verification_status',
    'purpose',
    'addr_state',
    'initial_list_status',
    'emp_length'
]

dummylist = []

for categorical_var in categorical_vars:
    dummylist.append(pd.get_dummies(d[categorical_var], prefix=f'{categorical_var}'))
    
# Creating the dummy dataframe for the categorical variables
dummydf = pd.concat(dummylist, axis=1)

In [28]:
# Listing all the columns
dummydf.columns.values

array(['grade_A', 'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F',
       'grade_G', 'sub_grade_A1', 'sub_grade_A2', 'sub_grade_A3',
       'sub_grade_A4', 'sub_grade_A5', 'sub_grade_B1', 'sub_grade_B2',
       'sub_grade_B3', 'sub_grade_B4', 'sub_grade_B5', 'sub_grade_C1',
       'sub_grade_C2', 'sub_grade_C3', 'sub_grade_C4', 'sub_grade_C5',
       'sub_grade_D1', 'sub_grade_D2', 'sub_grade_D3', 'sub_grade_D4',
       'sub_grade_D5', 'sub_grade_E1', 'sub_grade_E2', 'sub_grade_E3',
       'sub_grade_E4', 'sub_grade_E5', 'sub_grade_F1', 'sub_grade_F2',
       'sub_grade_F3', 'sub_grade_F4', 'sub_grade_F5', 'sub_grade_G1',
       'sub_grade_G2', 'sub_grade_G3', 'sub_grade_G4', 'sub_grade_G5',
       'home_ownership_ANY', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER',
       'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Not Verified',
       'verification_status_Source Verified',
       'verification_status_Verified', 'purpose_car',
       'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy',
       'purpose_small_business', 'purpose_vacation', 'purpose_wedding',
       'addr_state_AK', 'addr_state_AL', 'addr_state_AR', 'addr_state_AZ',
       'addr_state_CA', 'addr_state_CO', 'addr_state_CT', 'addr_state_DC',
       'addr_state_DE', 'addr_state_FL', 'addr_state_GA', 'addr_state_HI',
       'addr_state_IA', 'addr_state_ID', 'addr_state_IL', 'addr_state_IN',
       'addr_state_KS', 'addr_state_KY', 'addr_state_LA', 'addr_state_MA',
       'addr_state_MD', 'addr_state_ME', 'addr_state_MI', 'addr_state_MN',
       'addr_state_MO', 'addr_state_MS', 'addr_state_MT', 'addr_state_NC',
       'addr_state_ND', 'addr_state_NE', 'addr_state_NH', 'addr_state_NJ',
       'addr_state_NM', 'addr_state_NV', 'addr_state_NY', 'addr_state_OH',
       'addr_state_OK', 'addr_state_OR', 'addr_state_PA', 'addr_state_RI',
       'addr_state_SC', 'addr_state_SD', 'addr_state_TN', 'addr_state_TX',
       'addr_state_UT', 'addr_state_VA', 'addr_state_VT', 'addr_state_WA',
       'addr_state_WI', 'addr_state_WV', 'addr_state_WY',
       'initial_list_status_f', 'initial_list_status_w'], dtype=object)

In [29]:
# Getting the numeric feature list 
numeric_features = [
    'loan_amnt',
    'funded_amnt',
    'term',
    'emp_length',
    'annual_inc',
    'mnth_since_issue',
    'term_int',
    # Adding load_status for Y creation
    'loan_status'
]

In [30]:
# Creating the dataframe with numeric and dummy variables 
d = pd.concat([d, dummydf], axis=1)

# Probability of default (PD) modeling

The main objective in PD modeling is to create a model to infer a probability for a default given a set of features $X$.

It is established by various auditing firms that the interpretation of the model needs to be easy even for not statistical savy people. One highly interpretable machine learning model is logistic regression. 

Another agreed upon part of PD modeling is that the $X$ matrix needs to be comprised of dummy variable data. Thus, even continues numeric variables need to be converted to categorical features. Additionally, when creating the $Y$ variable, positive coefficients in logistic regression need to lead to a "positive" class, meaning, the higher a given value, the less chance of default.

# Creation of the dependant variable

One of the widespread default definition is that if a person is not able to pay their obligations in 90 days, it is considered default. In the PD modeling space, the Y encoding to non defaul and default is often termed "good bad" encoding.

In [31]:
d['loan_status'].value_counts() / d['loan_status'].count()

Fully Paid                                             0.511938
Current                                                0.352573
Charged Off                                            0.123825
Late (31-120 days)                                     0.005522
In Grace Period                                        0.003430
Late (16-30 days)                                      0.000929
Issued                                                 0.000706
Does not meet the credit policy. Status:Fully Paid     0.000670
Does not meet the credit policy. Status:Charged Off    0.000259
Default                                                0.000148
Name: loan_status, dtype: float64

In [32]:
# Creating the Y (good_bad) variable for the probability of default analysis
d['good_bad'] = np.where(d['loan_status'].isin([
    'Charged Off', 
    'Default',
    'Late (31-120 days)',
    'Does not meet the credit policy. Status:Charged Off'
]), 0, 1)

In [33]:
# Distribution of classes
d['good_bad'].value_counts() / d['good_bad'].count()

1    0.870246
0    0.129754
Name: good_bad, dtype: float64

# Spliting the data into train, validation and test sets

The amount of data for training will be 80 percent of the whole dataset, validation (used for hyperparameter tuning) will be 10 percent and the test set (which we will measure some accuracy metrics) will be 10 percent.

In [34]:
train, val, test = np.split(d.sample(frac=1, random_state=42), [int(.8*len(d)), int(.9*len(d))])

In [35]:
print(f"Shape of training data: {train.shape}")
print(f"Shape of training data: {val.shape}")
print(f"Shape of training data: {test.shape}")

Shape of training data: (2335644, 146)
Shape of training data: (291956, 146)
Shape of training data: (291956, 146)

# Fine classing, weight of evidence and coarse classing

Fine classing is a technique that groups a variable's values into a number of fine bins. Using these bins, a measure of the variable's predictive power, known as information value (IV), can be computed. Also from these fine bins, further grouping can be carried out to result in coarse classing.

One of the fundamental concepts in information value is the weight of evidence concept. The weight of evidence tells the predictive power of an independent variable in relation to the dependent variable.

For a given feature $i$, the weight of evidence, or, $WoE_{i}$ is calculated by: 

$$ WoE_{i} = log\left(\dfrac{\% of y = 1 | x = i}{\% of y = 0 | x = i}\right)$$

Thus, the woe is calculated for each feature in our dataset.

## Caluclating the WoE for home ownership

Lets go step by step and calculate the WoE statistic for all the levels of the home ownership categorical value.

In [36]:
# Subseting the data
woe = d[['home_ownership', 'good_bad']]

# Lets calculate the number of borrowers for each status 
grouped = woe.groupby('home_ownership', as_index=False)['good_bad'].count()

In [37]:
# Inspecting the total number of people in each group 
grouped

  home_ownership  good_bad
0            ANY      3515
1       MORTGAGE   1434863
2           NONE        51
3          OTHER       181
4            OWN    329907
5           RENT   1151039

In [38]:
# Getting the total good borrowers in each group 
groupedgood = woe.groupby('home_ownership', as_index=False)['good_bad'].sum().rename(columns={'good_bad': 'good_borrowers'})

# Merging with the initial dataframe
grouped = pd.merge(grouped, groupedgood, on='home_ownership')

# Getting the number of bad borrowers
grouped['bad_borrowers'] = grouped['good_bad'] - grouped['good_borrowers']

# Calculating the share of good borrowers
grouped['share_good'] = grouped['good_borrowers'] / grouped['good_bad']

# Calculating the share of bad borrowers
grouped['share_bad'] = 1 - grouped['share_good']

# Seeing the results
grouped

,home_ownership,good_bad,good_borrowers,bad_borrowers,share_good,share_bad
0,ANY,3515,3225,290,0.917496,0.082504
1,MORTGAGE,1434863,1273482,161381,0.887529,0.112471
2,NONE,51,43,8,0.843137,0.156863
3,OTHER,181,143,38,0.790055,0.209945
4,OWN,329907,286656,43251,0.868899,0.131101
5,RENT,1151039,977184,173855,0.848958,0.151042

In [39]:
# Calculating the total proportion of good/bad borrowers in each group 
grouped['prop_n_good'] = grouped['good_borrowers'] / grouped['good_borrowers'].sum()
grouped['prop_n_bad'] = grouped['bad_borrowers'] / grouped['bad_borrowers'].sum()

grouped

,home_ownership,good_bad,good_borrowers,bad_borrowers,share_good,share_bad,prop_n_good,prop_n_bad
0,ANY,3515,3225,290,0.917496,0.082504,0.001269,0.000766
1,MORTGAGE,1434863,1273482,161381,0.887529,0.112471,0.501226,0.426006
2,NONE,51,43,8,0.843137,0.156863,0.000017,0.000021
3,OTHER,181,143,38,0.790055,0.209945,0.000056,0.000100
4,OWN,329907,286656,43251,0.868899,0.131101,0.112824,0.114172
5,RENT,1151039,977184,173855,0.848958,0.151042,0.384607,0.458935

In the above dataset we have everything we need to calculate the weight of evidence for each categorical variable level.

In [40]:
grouped['woe'] = np.log(grouped['prop_n_good'] / grouped['prop_n_bad'])

In [41]:
grouped

,home_ownership,good_bad,good_borrowers,bad_borrowers,share_good,share_bad,prop_n_good,prop_n_bad,woe
0,ANY,3515,3225,290,0.917496,0.082504,0.001269,0.000766,0.505668
1,MORTGAGE,1434863,1273482,161381,0.887529,0.112471,0.501226,0.426006,0.162603
2,NONE,51,43,8,0.843137,0.156863,0.000017,0.000021,-0.221380
3,OTHER,181,143,38,0.790055,0.209945,0.000056,0.000100,-0.577880
4,OWN,329907,286656,43251,0.868899,0.131101,0.112824,0.114172,-0.011876
5,RENT,1151039,977184,173855,0.848958,0.151042,0.384607,0.458935,-0.176685

In [42]:
# Lets calculate the IV for the overall variable home_ownership
IV = np.sum((grouped['prop_n_good'] - grouped['prop_n_bad']) * grouped['woe'])

print(f'The information value is :{IV}')

The information value is :0.025660726093582335

## Defining a function that calculates the woe and IV

In [43]:
def get_woe(d: pd.DataFrame, cat_var: str, good_bad_var: str):
    # Subseting the dataframe 
    d = d[[cat_var, good_bad_var]]
    
    # Calculating the number of borrowers for each status 
    grouped = d.groupby(cat_var, as_index=False)[good_bad_var].count().rename(columns={good_bad_var: "n"})
    
    groupedgood = d.groupby(cat_var, as_index=False)[good_bad_var].sum().rename(columns={good_bad_var: 'good_borrowers'})

    # Merging with the initial dataframe
    grouped = pd.merge(grouped, groupedgood, on=cat_var)

    # Getting the number of bad borrowers
    grouped['bad_borrowers'] = grouped['n'] - grouped['good_borrowers']

    # Calculating the share of good borrowers
    grouped['share_good'] = grouped['good_borrowers'] / grouped['n']

    # Calculating the share of bad borrowers
    grouped['share_bad'] = 1 - grouped['n']
    
    # Calculating the total proportion of good/bad borrowers in each group 
    grouped['prop_n_good'] = grouped['good_borrowers'] / grouped['good_borrowers'].sum()
    grouped['prop_n_bad'] = grouped['bad_borrowers'] / grouped['bad_borrowers'].sum()
    
    # Calculating the WoE statistic
    grouped['woe'] = np.log(grouped['prop_n_good'] / grouped['prop_n_bad'])
    
    # Sorting by woe
    grouped.sort_values('woe', inplace=True, ascending=False)
    grouped.reset_index(inplace=True, drop=True)
    
    # Calculating IV
    grouped['IV'] = np.sum((grouped['prop_n_good'] - grouped['prop_n_bad']) * grouped['woe'])
    
    # Returning the aggregated dataframe
    return grouped

In [46]:
# Printing out the frame for all the categorical variables
for var in categorical_vars:
    print('-----------')
    print(f'{var}:')
    print(get_woe(d, var, 'good_bad'))
    print('-----------')

-----------
grade:
  grade       n  good_borrowers  bad_borrowers  share_good  share_bad  \
0     A  654650          630541          24109    0.963173    -654649
1     B  855747          777869          77878    0.908994    -855746
2     C  800807          677416         123391    0.845917    -800806
3     D  415593          328934          86659    0.791481    -415592
4     E  138808           94090          44718    0.677843    -138807
5     F   41781           25071          16710    0.600057     -41780
6     G   12170            6812           5358    0.559737     -12169

   prop_n_good  prop_n_bad       woe        IV
0     0.248173    0.063642  1.360854  0.523789
1     0.306159    0.205579  0.398276  0.523789
2     0.266622    0.325722 -0.200211  0.523789
3     0.129464    0.228759 -0.569263  0.523789
4     0.037033    0.118045 -1.159263  0.523789
5     0.009868    0.044110 -1.497434  0.523789
6     0.002681    0.014144 -1.663044  0.523789
-----------
-----------
sub_grade:
   sub_grade       n  good_borrowers  bad_borrowers  share_good  share_bad  \
0         A1  132887          130202           2685    0.979795    -132886
1         A2  100805           97805           3000    0.970240    -100804
2         A3  106090          102307           3783    0.964342    -106089
3         A4  158053          151756           6297    0.960159    -158052
4         A5  156815          148471           8344    0.946791    -156814
5         B1  163044          151633          11411    0.930013    -163043
6         B2  164508          151757          12751    0.922490    -164507
7         B3  161830          146665          15165    0.906291    -161829
8         B4  184836          166580          18256    0.901231    -184835
9         B5  181529          161234          20295    0.888200    -181528
10        C1  178707          155334          23373    0.869210    -178706
11        C2  161510          138185          23325    0.855582    -161509
12        C3  158731          134425          24306    0.846873    -158730
13        C4  152892          126443          26449    0.827009    -152891
14        C5  148967          123029          25938    0.825881    -148966
15        D2  108463           88755          19708    0.818297    -108462
16        D1  100660           80995          19665    0.804639    -100659
17        D3   82937           65646          17291    0.791516     -82936
18        D4   66975           51075          15900    0.762598     -66974
19        D5   56558           42463          14095    0.750787     -56557
20        E1   34767           24394          10373    0.701642     -34766
21        E2   30295           20711           9584    0.683644     -30294
22        E3   27190           18308           8882    0.673336     -27189
23        E4   23187           15320           7867    0.660715     -23186
24        E5   23369           15357           8012    0.657153     -23368
25        F1   13404            8448           4956    0.630260     -13403
26        F2    9305            5589           3716    0.600645      -9304
27        F3    7786            4660           3126    0.598510      -7785
28        G1    4107            2391           1716    0.582177      -4106
29        F4    6118            3478           2640    0.568486      -6117
30        G2    2695            1516           1179    0.562523      -2694
31        F5    5168            2896           2272    0.560372      -5167
32        G3    2090            1149            941    0.549761      -2089
33        G4    1711             924            787    0.540035      -1710
34        G5    1567             832            735    0.530951      -1566

    prop_n_good  prop_n_bad       woe        IV
0      0.051246    0.007088  1.978268  0.559442
1      0.038495    0.007919  1.581225  0.559442
2      0.040267    0.009986  1.394322  0.559442
3      0.059729    0.016623  1.279062  0.559442
4      0.058436    0.022026  0.975708  0.559442
5      0.059681    0.030122  0.683747  0.559442
6      0.059730    0.033660  0.573532  0.559442
7      0.057725    0.040032  0.366022  0.559442
8      0.065564    0.048191  0.307843  0.559442
9      0.063460    0.053574  0.169343  0.559442
10     0.061137    0.061699 -0.009143  0.559442
11     0.054388    0.061572 -0.124071  0.559442
12     0.052908    0.064162 -0.192856  0.559442
13     0.049766    0.069819 -0.338566  0.559442
14     0.048423    0.068470 -0.346428  0.559442
15     0.034933    0.052024 -0.398284  0.559442
16     0.031879    0.051911 -0.487592  0.559442
17     0.025837    0.045644 -0.569048  0.559442
18     0.020102    0.041972 -0.736163  0.559442
19     0.016713    0.037207 -0.800326  0.559442
20     0.009601    0.027382 -1.048008  0.559442
21     0.008152    0.025299 -1.132569  0.559442
22     0.007206    0.023446 -1.179827  0.559442
23     0.006030    0.020767 -1.236656  0.559442
24     0.006044    0.021150 -1.252508  0.559442
25     0.003325    0.013083 -1.369808  0.559442
26     0.002200    0.009809 -1.494986  0.559442
27     0.001834    0.008252 -1.503878  0.559442
28     0.000941    0.004530 -1.571423  0.559442
29     0.001369    0.006969 -1.627460  0.559442
30     0.000597    0.003112 -1.651730  0.559442
31     0.001140    0.005998 -1.660469  0.559442
32     0.000452    0.002484 -1.703435  0.559442
33     0.000364    0.002077 -1.742655  0.559442
34     0.000327    0.001940 -1.779177  0.559442
-----------
-----------
home_ownership:
  home_ownership        n  good_borrowers  bad_borrowers  share_good  \
0            ANY     3515            3225            290    0.917496
1       MORTGAGE  1434863         1273482         161381    0.887529
2            OWN   329907          286656          43251    0.868899
3           RENT  1151039          977184         173855    0.848958
4           NONE       51              43              8    0.843137
5          OTHER      181             143             38    0.790055

   share_bad  prop_n_good  prop_n_bad       woe        IV
0      -3514     0.001269    0.000766  0.505668  0.025661
1   -1434862     0.501226    0.426006  0.162603  0.025661
2    -329906     0.112824    0.114172 -0.011876  0.025661
3   -1151038     0.384607    0.458935 -0.176685  0.025661
4        -50     0.000017    0.000021 -0.221380  0.025661
5       -180     0.000056    0.000100 -0.577880  0.025661
-----------
-----------
verification_status:
  verification_status        n  good_borrowers  bad_borrowers  share_good  \
0        Not Verified  1063604          968182          95422    0.910284
1     Source Verified  1141447          987127         154320    0.864803
2            Verified   714505          585424         129081    0.819342

   share_bad  prop_n_good  prop_n_bad       woe        IV
0   -1063603     0.381064    0.251891  0.413972  0.097531
1   -1141446     0.388521    0.407367 -0.047368  0.097531
2    -714504     0.230415    0.340742 -0.391243  0.097531
-----------
-----------
purpose:
               purpose        n  good_borrowers  bad_borrowers  share_good  \
0                  car    29757           26774           2983    0.899755
1          credit_card   694160          621026          73134    0.894644
2     home_improvement   192525          170195          22330    0.884015
3             vacation    20161           17683           2478    0.877089
4              wedding     2355            2062            293    0.875584
5       major_purchase    62595           54543           8052    0.871364
6                other   177073          153262          23811    0.865530
7                house    19561           16923           2638    0.865140
8              medical    35161           30365           4796    0.863599
9   debt_consolidation  1634967         1406196         228771    0.860076
10              moving    19151           16114           3037    0.841418
11    renewable_energy     1763            1475            288    0.836642
12      small_business    29903           23779           6124    0.795204
13         educational      424             336             88    0.792453

    share_bad  prop_n_good  prop_n_bad       woe       IV
0      -29756     0.010538    0.007874  0.291363  0.02273
1     -694159     0.244428    0.193056  0.235941  0.02273
2     -192524     0.066987    0.058946  0.127875  0.02273
3      -20160     0.006960    0.006541  0.062013  0.02273
4       -2354     0.000812    0.000773  0.048120  0.02273
5      -62594     0.021467    0.021255  0.009930  0.02273
6     -177072     0.060322    0.062855 -0.041138  0.02273
7      -19560     0.006661    0.006964 -0.044486  0.02273
8      -35160     0.011951    0.012660 -0.057630  0.02273
9    -1634966     0.553461    0.603899 -0.087217  0.02273
10     -19150     0.006342    0.008017 -0.234321  0.02273
11      -1762     0.000581    0.000760 -0.269686  0.02273
12     -29902     0.009359    0.016166 -0.546551  0.02273
13       -423     0.000132    0.000232 -0.563364  0.02273
-----------
-----------
addr_state:

   addr_state       n  good_borrowers  bad_borrowers  share_good  share_bad  \
0          ME    7237            6738            499    0.931049      -7236
1          VT    6499            5959            540    0.916910      -6498
2          WV   12265           11233           1032    0.915858     -12264
3          ID    6796            6216            580    0.914656      -6795
4          OR   35229           31905           3324    0.905646     -35228
5          DC    6724            6083            641    0.904670      -6723
6          NH   14516           13088           1428    0.901626     -14515
7          SC   36776           33061           3715    0.898983     -36775
8          ND    5027            4501            526    0.895365      -5026
9          WA   61261           54831           6430    0.895039     -61260
10         CO   61134           54683           6451    0.894478     -61133
11         MT    8202            7317            885    0.892099      -8201
12         KS   24486           21799           2687    0.890264     -24485
13         WY    6056            5380            676    0.888375      -6055
14         CT   46555           41255           5300    0.886156     -46554
15         RI   13067           11557           1510    0.884442     -13066
16         IL  116933          103417          13516    0.884412    -116932
17         UT   19530           17225           2305    0.881976     -19529
18         GA   96286           84643          11643    0.879079     -96285
19         WI   38584           33838           4746    0.876996     -38583
20         DE    8416            7368           1048    0.875475      -8415
21         MA   67384           58977           8407    0.875237     -67383
22         AK    6705            5863            842    0.874422      -6704
23         OH   96494           84296          12198    0.873588     -96493
24         VA   80835           70452          10383    0.871553     -80834
25         AZ   70132           61120           9012    0.871499     -70131
26         NE   11031            9613           1418    0.871453     -11030
27         TX  242114          210974          31140    0.871383    -242113
28         MN   50462           43921           6541    0.870378     -50461
29         MI   75203           65446           9757    0.870258     -75202
30         KY   28349           24668           3681    0.870154     -28348
31         TN   46865           40720           6145    0.868879     -46864
32         NJ  106782           92611          14171    0.867290    -106781
33         CA  403681          349902          53779    0.866778    -403680
34         PA   97745           84671          13074    0.866244     -97744
35         NC   80892           70058          10834    0.866068     -80891
36         MO   46681           40413           6268    0.865727     -46680
37         SD    5900            5107            793    0.865593      -5899
38         IN   48528           41999           6529    0.865459     -48527
39         MD   69620           60056           9564    0.862626     -69619
40         NM   15485           13356           2129    0.862512     -15484
41         FL  211967          181943          30024    0.858355    -211966
42         HI   13477           11566           1911    0.858203     -13476
43         NY  236274          202103          34171    0.855376    -236273
44         LA   32633           27805           4828    0.852052     -32632
45         NV   42340           36027           6313    0.850897     -42339
46         OK   26724           22699           4025    0.849386     -26723
47         AL   34639           29311           5328    0.846185     -34638
48         MS   16821           14214           2607    0.845015     -16820
49         AR   22200           18734           3466    0.843874     -22199
50         IA      14              11              3    0.785714        -13

    prop_n_good  prop_n_bad       woe      IV
0      0.002652    0.001317  0.699774  0.0145
1      0.002345    0.001425  0.497950  0.0145
2      0.004421    0.002724  0.484218  0.0145
3      0.002447    0.001531  0.468715  0.0145
4      0.012557    0.008775  0.358455  0.0145
5      0.002394    0.001692  0.347085  0.0145
6      0.005151    0.003770  0.312282  0.0145
7      0.013012    0.009807  0.282837  0.0145
8      0.001772    0.001389  0.243615  0.0145
9      0.021581    0.016974  0.240142  0.0145
10     0.021523    0.017029  0.234179  0.0145
11     0.002880    0.002336  0.209229  0.0145
12     0.008580    0.007093  0.190300  0.0145
13     0.002117    0.001784  0.171112  0.0145
14     0.016237    0.013991  0.148927  0.0145
15     0.004549    0.003986  0.132043  0.0145
16     0.040704    0.035679  0.131756  0.0145
17     0.006780    0.006085  0.108142  0.0145
18     0.033314    0.030735  0.080598  0.0145
19     0.013318    0.012528  0.061143  0.0145
20     0.002900    0.002766  0.047124  0.0145
21     0.023213    0.022192  0.044944  0.0145
22     0.002308    0.002223  0.037498  0.0145
23     0.033178    0.032200  0.029924  0.0145
24     0.027729    0.027409  0.011623  0.0145
25     0.024056    0.023789  0.011143  0.0145
26     0.003784    0.003743  0.010730  0.0145
27     0.083037    0.082202  0.010103  0.0145
28     0.017287    0.017267  0.001164  0.0145
29     0.025759    0.025756  0.000102  0.0145
30     0.009709    0.009717 -0.000816  0.0145
31     0.016027    0.016221 -0.012058  0.0145
32     0.036451    0.037408 -0.025929  0.0145
33     0.137717    0.141963 -0.030369  0.0145
34     0.033325    0.034512 -0.034991  0.0145
35     0.027574    0.028599 -0.036505  0.0145
36     0.015906    0.016546 -0.039445  0.0145
37     0.002010    0.002093 -0.040595  0.0145
38     0.016530    0.017235 -0.041747  0.0145
39     0.023637    0.025247 -0.065867  0.0145
40     0.005257    0.005620 -0.066825  0.0145
41     0.071610    0.079256 -0.101442  0.0145
42     0.004552    0.005045 -0.102696  0.0145
43     0.079545    0.090203 -0.125739  0.0145
44     0.010944    0.012745 -0.152355  0.0145
45     0.014180    0.016665 -0.161481  0.0145
46     0.008934    0.010625 -0.173343  0.0145
47     0.011536    0.014065 -0.198152  0.0145
48     0.005594    0.006882 -0.207112  0.0145
49     0.007373    0.009149 -0.215800  0.0145
50     0.000004    0.000008 -0.603856  0.0145
-----------
-----------
initial_list_status:
  initial_list_status        n  good_borrowers  bad_borrowers  share_good  \
0                   w  2135228         1885976         249252    0.883267
1                   f   784328          654757         129571    0.834800

   share_bad  prop_n_good  prop_n_bad       woe        IV
0   -2135227     0.742296    0.657964  0.120597  0.034045
1    -784327     0.257704    0.342036 -0.283104  0.034045
-----------
-----------
emp_length:
   emp_length       n  good_borrowers  bad_borrowers  share_good  share_bad  \
0   10+ years  944717          829173         115544    0.877695    -944716
1     5 years  182182          158777          23405    0.871530    -182181
2     6 years  130626          113825          16801    0.871381    -130625
3     2 years  261662          227778          33884    0.870505    -261661
4     4 years  175955          153024          22931    0.869677    -175954
5     3 years  232095          201644          30451    0.868799    -232094
6     7 years  115948          100549          15399    0.867190    -115947
7      1 year  193999          168160          25839    0.866809    -193998
8     9 years   95298           82166          13132    0.862201     -95297
9    < 1 year  474495          408761          65734    0.861465    -474494
10    8 years  112579           96876          15703    0.860516    -112578

    prop_n_good  prop_n_bad       woe        IV
0      0.326352    0.305008  0.067639  0.002956
1      0.062493    0.061783  0.011412  0.002956
2      0.044800    0.044351  0.010085  0.002956
3      0.089651    0.089445  0.002290  0.002956
4      0.060228    0.060532 -0.005034  0.002956
5      0.079364    0.080383 -0.012754  0.002956
6      0.039575    0.040650 -0.026796  0.002956
7      0.066186    0.068209 -0.030108  0.002956
8      0.032339    0.034665 -0.069449  0.002956
9      0.160883    0.173522 -0.075624  0.002956
10     0.038129    0.041452 -0.083559  0.002956
-----------

Based on the WoE statistic we need to figure out how to organize and lump together the original discrete features.