# Importing packages

In [1]:
import pandas as pd 
import numpy as np
import datetime

# Setting the option to display the dataframe 
pd.options.display.max_columns = None
pd.options.display.max_rows = 150

# Features in the analysis

The main features that will be used in the modeling of credit risk are: 

* **earliest_cr_line** - The month the borrower's earliest reported credit line was opened.

* **emp_length** - Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. 

* **term** - number of payments on the loan. Values can be either 36 or 60. 

* **issue_d** - the month which the loan was funded (issued)

* **grade** - loan companies assigned loan grade.

* **sub_grade** - loan companies assigned loan subgrade.

* **home_ownership** - The home ownership status provided by the borrower during registration or obtained from the credit report. The values are: RENT, OWN, MORTGAGE, OTHER.

* **verification_status** - Indicates if income was verified by LC, not verified, or if the income source was verified.

* **purpose** - the purpose of the loan; a category provided by the borrower for the loan request.

* **addr_state** - the state provided by the borrower in the loan application.

* **initial_list_status** - the initial listing status of the loan. Possible values are – W, F.

* **loan_amnt** - the amount of $ applied by the borrower.

* **funded_amnt** - the amount of requested loan that was funded in $.

* **annual_inc** - the self-reported annual income by the borrower.

* **acc_now_delinq** - the amount of accounts which the borrower is a delinquet.

* **total_acc** - The total number of credit lines currently in the borrower's credit file.

* **pub_rec** - Number of derogatory public records.

* **open_acc** - The number of open credit lines in the borrower's credit file.

The feature that we will use for the creation of the $Y$ (also known as the dependant variable) is the loan_status variable. 

* **loan_status** - current status of the loan (as of creation of the data).

In [2]:
columns = [
    'earliest_cr_line',
    'emp_length',
    'term',
    'issue_d',
    'grade',
    'sub_grade',
    'home_ownership',
    'verification_status',
    'loan_status',
    'purpose',
    'addr_state',
    'initial_list_status',
    'loan_amnt',
    'funded_amnt',
    'annual_inc',
    'acc_now_delinq',
    'total_acc',
    'pub_rec',
    'open_acc'
]

# Reading the data

In [3]:
# Reading the data
d = pd.read_csv(
    'data/appl_accepted_20072019Q3.csv', 
    low_memory=False,
    usecols=columns
)

In [4]:
print(f'Shape of the data: {d.shape}')

Shape of the data: (2650550, 19)

In [5]:
# Eyeballing the data
d.head()

,loan_amnt,funded_amnt,term,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,addr_state,earliest_cr_line,open_acc,pub_rec,total_acc,initial_list_status,acc_now_delinq
0,3600.0,3600.0,36 months,C,C4,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,debt_consolidation,PA,Aug-2003,7.0,0.0,13.0,w,0.0
1,24700.0,24700.0,36 months,C,C1,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,small_business,SD,Dec-1999,22.0,0.0,38.0,w,0.0
2,20000.0,20000.0,60 months,B,B4,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,home_improvement,IL,Aug-2000,6.0,0.0,18.0,w,0.0
3,35000.0,35000.0,60 months,C,C5,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,debt_consolidation,NJ,Sep-2008,13.0,0.0,17.0,w,0.0
4,10400.0,10400.0,60 months,F,F1,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,major_purchase,PA,Jun-1998,12.0,0.0,35.0,w,0.0

In [6]:
# Seeing the types of the columns to make sure numerics are numeris, 
# categorical variables are categorical, etc.
d.dtypes

loan_amnt              float64
funded_amnt            float64
term                    object
grade                   object
sub_grade               object
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
issue_d                 object
loan_status             object
purpose                 object
addr_state              object
earliest_cr_line        object
open_acc               float64
pub_rec                float64
total_acc              float64
initial_list_status     object
acc_now_delinq         float64
dtype: object

# Filling missing data

In [7]:
# Getting the number of rows missing
d.isnull().sum()

loan_amnt                  33
funded_amnt                33
term                       33
grade                      33
sub_grade                  33
emp_length             181960
home_ownership             33
annual_inc                 37
verification_status        33
issue_d                    33
loan_status                33
purpose                    33
addr_state                 33
earliest_cr_line           62
open_acc                   62
pub_rec                    62
total_acc                  62
initial_list_status        33
acc_now_delinq             62
dtype: int64

According to the documentation in the data, if the emp_length is missing, it means that there is no employment info. The suggested procedure is to treat this value the same as "< 1 year" value.

In [8]:
d['emp_length'] = d['emp_length'].fillna('< 1 year')

All the other missing rows will be dropped. The amount of rows dropped is very minimal when compared to the total number of rows.

In [9]:
d.dropna(inplace=True)
d.reset_index(inplace=True, drop=True)

print(f"Shape of data after dropping rows with missing values: {d.shape}")

Shape of data after dropping rows with missing values: (2650488, 19)

# General data preprocesing

## Categories to numerics

The **term** and **emp_length** features are stored as categorical. We need to convert them first to numeric.

In [10]:
d['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [11]:
d['emp_length'].unique()

array(['10+ years', '3 years', '4 years', '6 years', '1 year', '7 years',
       '8 years', '5 years', '2 years', '9 years', '< 1 year'],
      dtype=object)

In [12]:
# Cleaning employment length 
d['emp_length_int'] = d['emp_length'].str.replace('\+ years| years| year', '')
d['emp_length_int'] = d['emp_length_int'].str.replace('< 1', str(0))

# Converting the column type to numeric 
d['emp_length_int'] = pd.to_numeric(d['emp_length_int'])

In [13]:
# Cleaning the term column
d['term_int'] = d['term'].str.replace(' months', '')
d['term_int'] = d['term_int'].str.replace(' ', '')

# Converting the column type to numeric 
d['term_int'] = pd.to_numeric(d['term_int'])

## Categories to dates

In [14]:
def convert_to_2digit(x: str) -> datetime.datetime:
    """
    A function to convert 4 digit last part of the date string to 2 digit
    """
    try:
        x = x.split('-')
        month_part = x[0]
        year_part = x[1][-2:]

        return datetime.datetime.strptime(f'{month_part}-{year_part}', '%b-%y')
    except:
        return np.nan

In [15]:
# Inspecting the structure of dates

# Head
d['earliest_cr_line'].unique().tolist()[0:10]

['Aug-2003',
 'Dec-1999',
 'Aug-2000',
 'Sep-2008',
 'Jun-1998',
 'Oct-1987',
 'Jun-1990',
 'Feb-1999',
 'Apr-2002',
 'Nov-1994']

In [16]:
# Tail 
d['earliest_cr_line'].unique().tolist()[-10:]

['Feb-64',
 'Apr-61',
 'Jan-56',
 'Aug-62',
 'Sep-60',
 'Aug-59',
 'Jun-56',
 'Aug-50',
 'Jun-59',
 'Aug-61']

In [17]:
# Converting to 2 digit years
d['earliest_cr_line_date'] = [convert_to_2digit(x) for x in d['earliest_cr_line']]

# The exact same logic applies to the column issue_d
d['issue_d_date'] = [convert_to_2digit(x) for x in d['issue_d']]

In [18]:
# Calculating the dates between loan issue and first credit line issued 
d['issue_cr_diff'] = d['issue_d_date'] - d['earliest_cr_line_date']

In [19]:
d['issue_cr_diff'].describe()

count                         2650488
mean     5902 days 06:11:26.248268288
std      2965 days 08:25:30.837980128
min             -21915 days +00:00:00
25%                4109 days 00:00:00
50%                5388 days 00:00:00
75%                7366 days 00:00:00
max               18505 days 00:00:00
Name: issue_cr_diff, dtype: object

In [20]:
print(f"Very old credit lines make of {round(d[d['issue_cr_diff'].dt.days<0].shape[0] * 100 / d.shape[0], 2)} % of the data")

Very old credit lines make of 0.21 % of the data

For now, we will drop the very old users. The droping of these rows will have very little influence to the final coefficients.

In [21]:
d = d[d['issue_cr_diff'].dt.days>0]

d.reset_index(inplace=True, drop=True)

By convention, in credit risk modeling, months are prefered vs days.

In [22]:
d['issue_cr_diff_mnth'] = [int(x) for x in d['issue_cr_diff'] / np.timedelta64(1, 'M')]

Let us imagine that the current date when we are calculating the risk is 2020-01-01.

In [23]:
cur_date = datetime.datetime(2020, 1, 1)

# Creating an additional column to see days past since the loan issue 
d['days_since_issue'] = cur_date - d['issue_d_date']
d['mnth_since_issue'] = [int(x) for x in d['days_since_issue'] / np.timedelta64(1, 'M')]

In [24]:
# Inspecting the results of engineering
d[[
    'earliest_cr_line', 
    'earliest_cr_line_date', 
    'issue_d', 
    'issue_d_date', 
    'issue_cr_diff',
    'issue_cr_diff_mnth',
    'mnth_since_issue'
]].sample(10)

,earliest_cr_line,earliest_cr_line_date,issue_d,issue_d_date,issue_cr_diff,issue_cr_diff_mnth,mnth_since_issue
934818,Jun-2010,2010-06-01,May-2017,2017-05-01,2526 days,82,32
844700,Mar-2000,2000-03-01,Jul-2018,2018-07-01,6696 days,219,18
2544887,Feb-99,1999-02-01,Sep-19,2019-09-01,7517 days,246,4
439558,Feb-2006,2006-02-01,Mar-2018,2018-03-01,4411 days,144,22
2017464,May-1991,1991-05-01,Jul-2016,2016-07-01,9193 days,302,42
883033,Jul-1996,1996-07-01,Jun-2017,2017-06-01,7640 days,251,31
1295231,Aug-2003,2003-08-01,Apr-2014,2014-04-01,3896 days,128,69
2279030,Nov-04,2004-11-01,Feb-19,2019-02-01,5205 days,171,10
1563848,May-2005,2005-05-01,May-2018,2018-05-01,4748 days,155,20
2445828,Jun-02,2002-06-01,May-19,2019-05-01,6178 days,202,8

## Preprocesing the categorical variables

The aim of categorical variable preprocesing is to convert them into dummy variables.

In [25]:
categorical_vars = [
    'grade',
    'sub_grade',
    'home_ownership',
    'verification_status',
    'purpose',
    'addr_state',
    'initial_list_status'
]

dummylist = []

for categorical_var in categorical_vars:
    dummylist.append(pd.get_dummies(d[categorical_var], prefix=f'{categorical_var}'))
    
# Creating the dummy dataframe for the categorical variables
dummydf = pd.concat(dummylist, axis=1)

In [26]:
# Listing all the columns
dummydf.columns.values

array(['grade_A', 'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F',
       'grade_G', 'sub_grade_A1', 'sub_grade_A2', 'sub_grade_A3',
       'sub_grade_A4', 'sub_grade_A5', 'sub_grade_B1', 'sub_grade_B2',
       'sub_grade_B3', 'sub_grade_B4', 'sub_grade_B5', 'sub_grade_C1',
       'sub_grade_C2', 'sub_grade_C3', 'sub_grade_C4', 'sub_grade_C5',
       'sub_grade_D1', 'sub_grade_D2', 'sub_grade_D3', 'sub_grade_D4',
       'sub_grade_D5', 'sub_grade_E1', 'sub_grade_E2', 'sub_grade_E3',
       'sub_grade_E4', 'sub_grade_E5', 'sub_grade_F1', 'sub_grade_F2',
       'sub_grade_F3', 'sub_grade_F4', 'sub_grade_F5', 'sub_grade_G1',
       'sub_grade_G2', 'sub_grade_G3', 'sub_grade_G4', 'sub_grade_G5',
       'home_ownership_ANY', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER',
       'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Not Verified',
       'verification_status_Source Verified',
       'verification_status_Verified', 'purpose_car',
       'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy',
       'purpose_small_business', 'purpose_vacation', 'purpose_wedding',
       'addr_state_AK', 'addr_state_AL', 'addr_state_AR', 'addr_state_AZ',
       'addr_state_CA', 'addr_state_CO', 'addr_state_CT', 'addr_state_DC',
       'addr_state_DE', 'addr_state_FL', 'addr_state_GA', 'addr_state_HI',
       'addr_state_IA', 'addr_state_ID', 'addr_state_IL', 'addr_state_IN',
       'addr_state_KS', 'addr_state_KY', 'addr_state_LA', 'addr_state_MA',
       'addr_state_MD', 'addr_state_ME', 'addr_state_MI', 'addr_state_MN',
       'addr_state_MO', 'addr_state_MS', 'addr_state_MT', 'addr_state_NC',
       'addr_state_ND', 'addr_state_NE', 'addr_state_NH', 'addr_state_NJ',
       'addr_state_NM', 'addr_state_NV', 'addr_state_NY', 'addr_state_OH',
       'addr_state_OK', 'addr_state_OR', 'addr_state_PA', 'addr_state_RI',
       'addr_state_SC', 'addr_state_SD', 'addr_state_TN', 'addr_state_TX',
       'addr_state_UT', 'addr_state_VA', 'addr_state_VT', 'addr_state_WA',
       'addr_state_WI', 'addr_state_WV', 'addr_state_WY',
       'initial_list_status_f', 'initial_list_status_w'], dtype=object)

In [27]:
# Getting the numeric feature list 
numeric_features = [
    'loan_amnt',
    'funded_amnt',
    'term',
    'emp_length',
    'annual_inc',
    'mnth_since_issue',
    'term_int',
    # Adding load_status for Y creation
    'loan_status'
]

In [28]:
# Creating the dataframe with numeric and dummy variables 
d = pd.concat([d, dummydf], axis=1)

# Probability of default (PD) modeling

The main objective in PD modeling is to create a model to infer a probability for a default given a set of features $X$.

It is established by various auditing firms that the interpretation of the model needs to be easy even for not statistical savy people. One highly interpretable machine learning model is logistic regression. 

Another agreed upon part of PD modeling is that the $X$ matrix needs to be comprised of dummy variable data. Thus, even continues numeric variables need to be converted to categorical features. Additionally, when creating the $Y$ variable, positive coefficients in logistic regression need to lead to a "positive" class, meaning, the higher a given value, the less chance of default.

# Creation of the dependant variable

One of the widespread default definition is that if a person is not able to pay their obligations in 90 days, it is considered default. In the PD modeling space, the Y encoding to non defaul and default is often termed "good bad" encoding.

In [29]:
d['loan_status'].value_counts() / d['loan_status'].count()

Current                                                0.459636
Fully Paid                                             0.419460
Charged Off                                            0.103261
Late (31-120 days)                                     0.010211
In Grace Period                                        0.004294
Late (16-30 days)                                      0.002094
Does not meet the credit policy. Status:Fully Paid     0.000740
Does not meet the credit policy. Status:Charged Off    0.000286
Default                                                0.000017
Name: loan_status, dtype: float64

In [30]:
# Creating the Y (good_bad) variable for the probability of default analysis
d['good_bad'] = np.where(d['loan_status'].isin([
    'Charged Off', 
    'Default',
    'Late (31-120 days)',
    'Does not meet the credit policy. Status:Charged Off'
]), 0, 1)

In [31]:
# Distribution of classes
d['good_bad'].value_counts() / d['good_bad'].count()

1    0.886225
0    0.113775
Name: good_bad, dtype: float64

# Spliting the data into train, validation and test sets

The amount of data for training will be 80 percent of the whole dataset, validation (used for hyperparameter tuning) will be 10 percent and the test set (which we will measure some accuracy metrics) will be 10 percent.

In [32]:
train, val, test = np.split(d.sample(frac=1, random_state=42), [int(.8*len(d)), int(.9*len(d))])

In [33]:
print(f"Shape of training data: {train.shape}")
print(f"Shape of training data: {val.shape}")
print(f"Shape of training data: {test.shape}")

Shape of training data: (2115933, 146)
Shape of training data: (264492, 146)
Shape of training data: (264492, 146)

# Fine classing, weight of evidence and coarse classing

Fine classing is a technique that groups a variable's values into a number of fine bins. Using these bins, a measure of the variable's predictive power, known as information value (IV), can be computed. Also from these fine bins, further grouping can be carried out to result in coarse classing.

One of the fundamental concepts in information value is the weight of evidence concept. The weight of evidence tells the predictive power of an independent variable in relation to the dependent variable.

For a given feature $i$, the weight of evidence, or, $WoE_{i}$ is calculated by: 

$$ WoE_{i} = log\left(\dfrac{\% of y = 1 | x = i}{\% of y = 0 | x = i}\right)$$

Thus, the woe is calculated for each feature in our dataset.